<!-- Footer Section -->
<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-column">
      <div class="logo">
        <img src="/resources/images/logo.svg" alt="Vina Technology Logo">
      </div>
      <p>Established in 2018, Vina Technology<br /> specializes in precision die-cutting solutions,<br /> integrating
        R&D,
        manufacturing, and<br /> customer service. With a 8000m² facility,<br /> advanced equipment, and a skilled
        team, we<br /> deliver quality and innovation.</p>
    </div>
    <div class="footer-column">
      <h3>CONTACT</h3>
      <p>
        <img src="/resources/images/ic_location.svg" alt="ic_location">
        No. 1 N10 Military Compound,<br /> Ngoc Khanh Street, Giang Vo<br /> Ward, Ba Dinh District, Hanoi.
      </p>
      <p>
        <img src="/resources/images/ic_email.svg" alt="ic_location">
        gmtung@vinatech.com.co
      </p>
      <p>
        <img src="/resources/images/ic_phone.svg" alt="ic_location">
        (+84) 961 498 989
      </p>
    </div>
    <div class="footer-column">
      <h3>SERVICES</h3>
      <a href="/resources/pages/product-service/optical-cutting/index.html" class="footer-link">Optical material die
        cutting</a>
      <a href="/resources/pages/product-service/outsourcing-services/index.html" class="footer-link">Outsourcing
        services</a>
    </div>
    <div class="footer-column">
      <h3>ABOUT</h3>
      <a href="/resources/pages/about/index.html" class="footer-link">About us</a>
    </div>
  </div>
</footer>